<ul class="nav js-spy">
  <li><a href="#arzt">Arzt</a></li>
  <li><a href="#cop">Cop</a></li>
  <li><a href="#detektiv">Detektiv</a></li>
  <li><a href="#veteran">Veteran</a></li>
  <li><a href="#magier">Magier</a></li>
  <li><a href="#hypnotiseur">Hypnotiseur</a></li>
  <li><a href="#samurai">Samurai</a></li>
  <li><a href="#hutmacher">Verrückter Hutmacher</a></li>
  <li><a href="#gaertner">Gärtner</a></li>
  <li><a href="#pate">Der Pate</a></li>
  <li><a href="#hure">Hure</a></li>
  <li><a href="#psychopath">Psychopath</a></li>
  <li><a href="#kult-anfuehrer">Kult Anführer</a></li>
</ul>