			<li> “Der Gespaltene Narr”: Das Ziel ist es, nominiert zu werden und 50% der Leute im Spiel müssen für den Tod des Prominenten stimmen – allerdings darf er nicht sterben.</li>
			<li> “Cop-Hasser”: Gewinnt nur mit der Town – allerdings muss der Cop tot sein, wenn die Town gewinnt.</li>
			<li> “Möchte-Gern-Cop”: Darft einen Spieler im Spiel überprüfen. Sollte der überprüfte Spieler ein Mafioso sein, wird allen gesagt, um wen es sich handelt. Sollte er jedoch kein Mafioso sein, stirbt der Prominenter. Er gewinnt nur mit der Town.</li>
			<li> “Auftragskiller”: Spielt für die Mafia. Kann einen Spieler umbringen. Sollte der getötete Spieler eine Spezialrolle haben, gewinnt er. Sollte der gewählte Spieler keine Spezialrolle sein, verliert er.</li>
			<li> “Dunkler Narr”: Verhält sich gleich wie ein Narr, mit dem Unterschied, dass er nicht am Tag, sondern in der Nacht sterben muss.</li>
			<li> “Random Lyncher”: Gewinnt, sobald drei Spieler von ihm nominiert und getötet worden sind.</li>
			<li> Die Grenzen sind unendlich! Es ist nicht schwer, ein eigenes Ziel zu suchen. Ebenfalls ein guter Weg für den Spielleiter, um Ideen für die Rolle zu testen!</li>
	   